<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>48</integer>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>label</key>
			<string>Vibrating Flashlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable tweak. This must be on for any other switches to work. Turning off essentially disables the whole tweak.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.vibratingflashlight-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.vibratingflashlight</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable only the vibrating flashlight, which vibrates when turning on and off, as well as continuously while adjusting the strength in the CC. (This switch isn&apos;t needed if all CC sliders switch is enabled)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.vibratingflashlight-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.vibratingflashlight</string>
			<key>key</key>
			<string>wantsFlashlight</string>
			<key>label</key>
			<string>Enable haptic flashlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This feature makes all the Control Center sliders vibrate; it includes the brightness and volume sliders, as well as the flashlight.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.vibratingflashlight-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.vibratingflashlight</string>
			<key>key</key>
			<string>wantsCCSliders</string>
			<key>label</key>
			<string>Enable all CC sliders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Resprings not needed, but can be used if a setting does not update immediately.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>36</integer>
			<key>icon</key>
			<string>i0s_tweak3r.png</string>
			<key>label</key>
			<string>Made by i0s_tweak3r.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Follow me on twitter</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Check out the code</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you like this free tweak, please consider a donation, or purchasing one of my paid tweaks. Check out FolderControllerXIII(one tweak to layout homescreen, dock and folders, plus countless other features), ModernBarz, and EnableMeAhora; all are available in my repo and/or in Packix.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>repolink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>yourepo.png</string>
			<key>label</key>
			<string>Add my repo for more tweaks.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Buy me an energy drink.</string>
		</dict>
	</array>
	<key>title</key>
	<string>VibratingFlashlight</string>
</dict>
</plist>
